html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}



input,
button {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* remove outline when focused */
*:focus {
  outline: none;
}

h1 {
  margin: 0px !important; 
}

body {
  background:  url("../images/bg-img-01.jpg") no-repeat center center fixed;
  background-size: cover;
  min-width: 800px;
  width: auto !important;
  width: 800px;
}

.container {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.param {
  margin-right: 5px;
  border-radius: 7px;
  border: 0px;
  max-width: 107px;
  background-color:rgba(217, 241, 227, 0.6);
  text-align: center;
}

.city {
  width: 500px;
  max-width: 500px;
  background-color:rgba(217, 241, 227, 1);
  text-align: left !important;
}

/* dropdown goes over evrerything */
.form-params {
  position: relative;
  z-index: 1;
}

.chosen-single {
  color: #222;
}

.chosen-container .chosen-container-single, 
.chosen-container-single {
  background-color: rgba(217, 241, 227, 0.6) !important;
  border: 0px !important;
  border-radius: 7px;
  color: rgba(217, 241, 227, 0.6) !important;
}

.chosen-container-multi .chosen-choices, .chosen-drop {
  background-color: rgba(217, 241, 227, 1) !important;
  border: 5px  #00ad5f !important;
  border-radius: 7px;
  color: rgba(217, 241, 227, 1) !important;
  background-image: unset !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background-color: #00ad5f !important;
  border: 0px !important;
  border-radius: 7px;
  color: white !important;
  text-align: center;
  /*color: rgba(217, 241, 227, 1) !important;*/
  background-image: unset !important;
}

.highlighted {
  background-color: #00ad5f !important;
  background-image: unset !important;
  color: #fff !important;
}

.chosen-container .chosen-drop,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices li.search-field input[type="text"], 
.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-active .chosen-choices { 
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
  background-image: unset !important;
}


/*
* TimePicker
*/
.ui-timepicker-standard {
  background-color: rgba(217, 241, 227, 0.6) !important;
  border: 0px !important;
  border-radius: 7px;
  color: rgba(217, 241, 227, 0.6) !important;
}

.ui-timepicker-standard .ui-state-hover {
  background-color: rgba(217, 241, 227, 1) !important;
  border: 1px solid rgba(217, 241, 227, 1) !important;
  border-radius: 7px;
  color: #222;
}

/*
* RadioGroup Buttons
*/

.radio-button {
  background: rgba(217, 241, 227, 0.6);
  border: 0px;
  border-radius: 7px !important;
  color: #222 !important;
  padding: 3px 5px 3px 5px;
}

.active-button {
  background-color: #00ad5f !important;
  color: #fff !important;
}

/*                                     
*======================================*
*            ScrollBar Style           *
*/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(217, 241, 227, 1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5e8d4; 
}

/*                                     
*======================================*
*         End ScrollBar Style          *
*/

.chosen-container-multi 
.chosen-choices li.search-choice 
.search-choice-close {
  background: url(x.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
{
  background: url(chosen-sprite@2x.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.unit-option {
  background: rgba(217, 241, 227, 0.6);
  border: 0px;
  border-radius: 7px !important;
  color: #222 !important;
}

.unit-label {
  margin-left: 7px;
}

.name {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;  

  width: 100%;
  max-width: 790px;
  font-family: 'Poppins', sans-serif;
}

.charts {
  width: 100%;
  max-width: 790px;
  flex-basis: 350px;
  background: rgba(217, 241, 227, 0.6);
  margin-bottom: 2vh;
  border-radius: 20px;
}

.search {
  width: 100%;
  max-width: 790px;
  font-family: 'Poppins', sans-serif;
}

.search form {
  width: 100%;
  max-width: 790px;
  padding-top: 0vh;
}

.search form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  /*overflow: hidden;*/
  margin-bottom: 20px;
}

.search form .inner-form .input-field {
  height: 45px;
}

.search form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

/* Placeholder auto-hides when focused, auto-shows when blured */
.search form .inner-form .input-field input:focus::placeholder {
  color: transparent;
}

.search form .inner-form .params {
  height: 30px;
}

.search form .inner-form .params input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  /*padding: 10px 0;*/
  font-size: 16px;
  color: #000;
  
  max-width: 5px;
}

.search form .inner-form .params input.placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .params input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .params input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}


.search form .inner-form .input-field input.placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .input-field input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .input-field input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .input-field input:hover, .search form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.search form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #d9f1e3;
  border-radius: 34px 0px 0px 34px;
}

.search form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.search form .inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.search form .inner-form .input-field.first-wrap svg {
  width: 36px;
  height: 36px;
  fill: #222;
}

.search form .inner-form .input-field.second-wrap {
  min-width: 200px;
}

.search form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #00ad5f;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
  border-radius: 0px 34px 34px 0px;
}

.search form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #009451;
}

.search form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.search form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
}

@media screen and (max-width: 992px) {
  .search form .inner-form .input-field {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .search form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 10px;
  }
  .search form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
  }
  .search form .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
  .search form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
  }
}

/*# sourceMappingURL=Searchs_130.css.map */
