html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 85px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow-x: auto !important; /* Enable scroll if needed */
  overflow-x: auto !important;
  overflow-y: auto !important;
  max-width: 100%;
  max-height: 100%; 
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


input,
button {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Poppins', sans-serif !important;
}

/* remove outline when focused */
*:focus {
  outline: none;
}

h1 {
  margin: 0px !important; 
}

body {
  background:  url("../images/bg-img-01.jpg") no-repeat center center fixed;
  background-size: cover;
  min-width: 800px;
  width: auto !important;
  width: 800px;
}

.container-fluid {
  display: flex !important;

  flex-direction: column !important;

  justify-content: center !important;
  align-items: center !important;

  margin: 0px !important;
  padding: 0px !important;

  height: 100% !important;
  width: 100% !important;
}

.param {
  margin-right: 5px;
  border-radius: 7px;
  border: 0px;
  max-width: 140px;
  background-color:rgba(217, 241, 227, 0.6);
  text-align: center;
}

.city {
  width: 500px;
  max-width: 500px;
  background-color:rgba(217, 241, 227, 1);
  text-align: left !important;
}

.forecast-type {
	padding: 0 50px;
}

/* dropdown goes over evrerything */
.form-params {
  position: relative;
  z-index: 1;
}

.chosen-single {
  color: #222;
  border: 0px !important;
}

.chosen-container .chosen-container-single, 
.chosen-container-single {
  width: 123px !important;
  background-color: rgba(217, 241, 227, 0.6) !important;
  border: 0px !important;
  border-radius: 7px;
  margin-right: 10px;
}

.chosen-container-multi .chosen-choices, .chosen-drop {
  background-color: rgba(217, 241, 227, 1) !important;
  border: 5px  #00ad5f !important;
  border-radius: 7px;
  color: rgba(217, 241, 227, 1) !important;
  background-image: unset !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background-color: #00ad5f !important;
  border: 0px !important;
  border-radius: 7px;
  color: white !important;
  text-align: center;
  /*color: rgba(217, 241, 227, 1) !important;*/
  background-image: unset !important;
}

.highlighted {
  background-color: #00ad5f !important;
  background-image: unset !important;
  color: #fff !important;
}

.chosen-container .chosen-drop,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices li.search-field input[type="text"], 
.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-active .chosen-choices { 
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
  background-image: unset !important;
}


/*
* TimePicker
*/
.ui-timepicker-standard {
  background-color: rgba(217, 241, 227, 0.6) !important;
  border: 0px !important;
  border-radius: 7px;
  color: rgba(217, 241, 227, 0.6) !important;
}

.ui-timepicker-standard .ui-state-hover {
  background-color: rgba(217, 241, 227, 1) !important;
  border: 1px solid rgba(217, 241, 227, 1) !important;
  border-radius: 7px;
  color: #222;
}

/*
* RadioGroup Buttons
*/

.radio-button {
  background: rgba(217, 241, 227, 0.6);
  border: 0px;
  border-radius: 7px !important;
  color: #222 !important;
  padding: 3px 5px 3px 5px;
}

.active-button {
  background-color: #00ad5f !important;
  color: #fff !important;
}

/*                                     
*======================================*
*            ScrollBar Style           *
*/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(217, 241, 227, 1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5e8d4; 
}

/*                                     
*======================================*
*         End ScrollBar Style          *
*/

img {
  vertical-align: baseline !important;
}

.chosen-container-multi 
.chosen-choices li.search-choice 
.search-choice-close {
  background: url(x.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.unit-option {
  background: rgba(217, 241, 227, 0.6);
  border: 0px;
  border-radius: 7px !important;
  color: #222 !important;
}

.unit-label {
  margin-left: 7px;
  margin-bottom: 0 !important;
}

.name {
  text-align: center;
  vertical-align: middle;
  /*line-height: 90px;*/
  margin-bottom: 5vh;  

  width: 100%;
  max-width: 790px;
  font-family: 'Poppins', sans-serif;
}

.content {
  width: 100%;
  height: 55%;
}

.charts-tables {
  width: 49%;
  height: 100%;
  float: left;
  
  display: block;

  max-width: 790px;
  flex-basis: 350px;
  background: rgba(217, 241, 227, 0.6);
  margin: 1vh;
  border-radius: 20px;
}

.charts-tables.tables {
  padding-top: 3px;
  padding-left: 5px;
  overflow: scroll;
  overflow-x: hidden;
}
.charts-tables.tables::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.charts-tables.charts {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

/*
* Table content
*/

.table-container {
  float: left;
  display: grid;
  width: 240px; !important;
  min-width: 240px; !important;
  min-height: 150px;
  margin: 3.5px;
  padding-left: 4px;
  grid-template-areas: "city-name city-name"
  "weather-icon current-temp"
  "weather-icon current-temp"
  "weather-icon min-temp"
  "weather-icon max-temp"
  "weather-icon air-pressure"
  "weather-description humidity"
  "weather-description wind";
  grid-template-columns: 60% 1fr;
  grid-template-rows: 20% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 15px;
  color: white;
  line-height: normal !important;
}
.city-name {
  text-align: center;
  line-height: 30px !important;
  font-size: 18px;
  font-weight: bold;
  grid-area: city-name;
}
.weather-icon {
  text-align: center;
  grid-area: weather-icon;
  position: relative;
}
.current-temp {
  text-align: center;
  grid-area: current-temp;
}
.min-temp {
  text-align: center;
  grid-area: min-temp;
}
.max-temp {
  text-align: center;
  grid-area: max-temp;
}
.air-pressure {
  text-align: center;
  grid-area: air-pressure;
}
.weather-description {
  text-align: center;
  line-height: 40px !important;
  grid-area: weather-description;
}
.humidity {
  text-align: center;
  grid-area: humidity;
}
.wind {
  text-align: center;
  grid-area: wind;
}

.w-icon {
  max-width: 118px;
  max-height: 80px;
  vertical-align: middle;
  /*width: 110px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.icon {
  height: 15px;
  margin-left: 5px;
}
.data {
  display: inline-block !important;
  height: 100% !important;
  vertical-align: text-bottom !important;
  margin-right: 5px !important;
}
.c-icon {
  height: 25px;
  margin-left: 5px;
}
.c-data {
  display: inline-block !important;
  height: 100% !important;
  vertical-align: super !important;
  margin-right: 5px !important;
}
/*
* End table content
*/

/*
* Modal content
*/
.modal-dialog {
  max-width: 100% !important;
  margin: 0rem 1rem 1rem 1rem !important;
  border-radius: 20px;
  /*
  overflow-x: auto !important;
  overflow-y: auto !important;*/
  /*
  overflow-x: initial !important;
  overflow-y: initail !important;*/
}
/*
* Modal Color Background
*/
.color-card {
  /*background-image: url('../images/white.jpg');*/
}
/*
* Modal 7-DAYS content
*/
.m-container-days {
  display: grid;
  width: 100%;
  height: 480px;
  /*height: 86%;*/
  grid-template-areas: "m-title m-title m-weather m-weather m-weather m-temp m-temp"
  "m-title m-title m-weather m-weather m-weather m-description m-description"
  "m-date-time-1 m-date-time-2 m-date-time-3 m-date-time-4 m-date-time-5 m-date-time-6 m-date-time-7"
  "m-main-1 m-main-2 m-main-3 m-main-4 m-main-5 m-main-6 m-main-7";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.2fr 0.15fr 0.9fr;
  /*
  overflow-x: auto !important;
  overflow-y: auto !important;*/
}
/*
* Modal 24/48 content
*/
.m-container-hours {
  display: grid;
  width: 100%;
  height: 480px;
  /*height: 86%;*/
  grid-template-areas: "m-title m-title m-title m-weather m-weather m-weather m-temp m-temp m-temp"
  "m-title m-title m-title m-weather m-weather m-weather m-description m-description m-description"
  "m-date-time-1 m-date-time-2 m-date-time-3 m-date-time-4 m-date-time-5 m-date-time-6 m-date-time-7 m-date-time-8 m-date-time-9"
  "m-main-1 m-main-2 m-main-3 m-main-4 m-main-5 m-main-6 m-main-7 m-main-8 m-main-9";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.2fr 0.15fr 0.9fr;
  /*
  overflow-x: auto !important;
  overflow-y: auto !important;*/
}
.m-title {
  grid-area: m-title;
  text-align: center;
  line-height: 122px !important;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #187047;
  border-radius: 20px 0 0 0;
}
.m-weather {
  grid-area: m-weather;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #187047;
}
.m-temp {
  grid-area: m-temp;
  text-align: center;
  vertical-align: bottom;
  line-height: 67px !important;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0 20px 0 0;
}
.m-description {
  grid-area: m-description;
  text-align: center;
  line-height: 52px !important;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-1 {
  grid-area: m-date-time-1;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-2 {
  grid-area: m-date-time-2;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-3 {
  grid-area: m-date-time-3;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-4 {
  grid-area: m-date-time-4;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-5 {
  grid-area: m-date-time-5;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-6 {
  grid-area: m-date-time-6;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-7 {
  grid-area: m-date-time-7;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-8 {
  grid-area: m-date-time-8;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-date-time-9 {
  grid-area: m-date-time-9;
  text-align: center;
  line-height: 40px !important;
  font-weight: bold;
  border-bottom: 1px solid #187047;
}
.m-main-1 {
  grid-area: m-main-1;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
  border-radius: 0 0 0 20px;
}
.m-main-2 {
  grid-area: m-main-2;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
}
.m-main-3 {
  grid-area: m-main-3;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
}
.m-main-4 {
  grid-area: m-main-4;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
}
.m-main-5 {
  grid-area: m-main-5;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
}
.m-main-6 {
  grid-area: m-main-6;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
}
.m-main-7 {
  grid-area: m-main-7;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
  border-radius: 0 0 20px 0;
}
.m-main-8 {
  grid-area: m-main-8;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
}
.m-main-9 {
  grid-area: m-main-9;
  text-align: center;
  padding: 15px 5px 0px 5px;
  position: relative;
  border-right: 1px dashed #187047;
  border-radius: 0 0 20px 0;
}

.m-w-icon {
  max-height: 90px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.m-main-w-icon {
  display: block;
  max-height: 80px;
  margin: 5px auto 0px auto;
}
/*
*  Modal main content
*/
.m-main-container {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  grid-template-areas: "m-main-min-temp d-min-temp"
  "m-main-max-temp d-max-temp"
  "m-main-pressure d-pressure"
  "m-main-humidity d-humidity"
  "m-main-wind d-wind";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 30px 30px 30px;
}

.m-main-min-temp {
  grid-area: m-main-min-temp;
  text-align: center;
}
.d-min-temp {
  grid-area: d-min-temp;
  text-align: center;
}
.m-main-max-temp {
  grid-area: m-main-max-temp;
  text-align: center;
}
.d-max-temp {
  grid-area: d-max-temp;
  text-align: center;
}
.m-main-pressure {
  grid-area: m-main-pressure;
  text-align: center;
}
.d-pressure {
  grid-area: d-pressure;
  text-align: center;
}
.m-main-humidity {
  grid-area: m-main-humidity;
  text-align: center;
}
.d-humidity {
  grid-area: d-humidity;
  text-align: center;
}
.m-main-wind {
  grid-area: m-main-wind;
  text-align: center;
}
.d-wind {
  grid-area: d-wind;
  text-align: center;
}
/*
*  End modal main content
*/

/*
* End modal content
*/

/*
* RadioGroup Buttons
*/

.radio-button-unit,
.radio-button-type {
  background: rgba(217, 241, 227, 0.6);
  border: 0px;
  border-radius: 7px !important;
  color: #222 !important;
  padding: 3px 5px 3px 5px;
  margin: 0 10px;
}

.active-button {
  background-color: #00ad5f !important;
  color: #fff !important;
}

/*                                     
*======================================*
*            ScrollBar Style           *
*/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(217, 241, 227, 1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5e8d4; 
}

/*                                     
*======================================*
*         End ScrollBar Style          *
*/

img {
  vertical-align: baseline !important;
}

.chosen-container-multi 
.chosen-choices li.search-choice 
.search-choice-close {
  background: url(x.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.unit-option {
  background: rgba(217, 241, 227, 0.6);
  border: 0px;
  border-radius: 7px !important;
  color: #222 !important;
}

.unit-label {
  margin-left: 7px;
  margin-bottom: 0 !important;
}

.note-label {
	display: block;
}

.name {
  text-align: center;
  vertical-align: middle;
  /*line-height: 90px;*/
  margin-bottom: 5vh;  

  width: 100%;
  max-width: 790px;
  font-family: 'Poppins', sans-serif;
}

.content {
  width: 100%;
  height: 55%;
}

.charts-tables {
  width: 49%;
  height: 100%;
  float: left;
  
  display: block;

  max-width: 790px;
  flex-basis: 350px;
  background: rgba(217, 241, 227, 0.6);
  margin: 1vh;
  border-radius: 20px;
}

.charts-tables.tables {
  padding-top: 20px;
  padding-left: 5px;
  overflow: scroll;
  overflow-x: hidden;
  /*!!!!!!!!!!!!*/
}
.charts-tables.tables::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.charts-tables.charts {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

/*
* Table content
*/

.table-container {
  float: left;
  display: grid;
  width: 240px; !important;
  min-width: 240px; !important;
  min-height: 150px;
  margin: 3.5px;
  padding-left: 4px;
  grid-template-areas: "city-name city-name"
  "weather-icon current-temp"
  "weather-icon current-temp"
  "weather-icon min-temp"
  "weather-icon max-temp"
  "weather-icon air-pressure"
  "weather-description humidity"
  "weather-description wind";
  grid-template-columns: 60% 1fr;
  grid-template-rows: 20% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 15px;
  color: white;
  line-height: normal !important;
}
.city-name {
  text-align: center;
  line-height: 30px !important;
  font-size: 18px;
  font-weight: bold;
  grid-area: city-name;
}
.weather-icon {
  text-align: center;
  grid-area: weather-icon;
  position: relative;
}
.current-temp {
  text-align: center;
  grid-area: current-temp;
}
.min-temp {
  text-align: center;
  grid-area: min-temp;
}
.max-temp {
  text-align: center;
  grid-area: max-temp;
}
.air-pressure {
  text-align: center;
  grid-area: air-pressure;
}
.weather-description {
  text-align: center;
  line-height: 40px !important;
  grid-area: weather-description;
}
.humidity {
  text-align: center;
  grid-area: humidity;
}
.wind {
  text-align: center;
  grid-area: wind;
}

.w-icon {
  max-width: 118px;
  max-height: 80px;
  vertical-align: middle;
  /*width: 110px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.icon {
  height: 15px;
  margin-left: 5px;
}
.data {
  display: inline-block !important;
  height: 100% !important;
  vertical-align: text-bottom !important;
  margin-right: 5px !important;
}
.c-icon {
  height: 25px;
  margin-left: 5px;
}
.c-data {
  display: inline-block !important;
  height: 100% !important;
  vertical-align: super !important;
  margin-right: 5px !important;
}
/*
* End table content
*/

.search {
  width: 100%;
  max-width: 790px;
  font-family: 'Poppins', sans-serif;
}

.search form {
  width: 100%;
  max-width: 790px;
  padding-top: 0vh;
}

.search form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  /*overflow: hidden;*/
  margin-bottom: 20px;
  height: 54px !important;
}

.search form .inner-form .input-field {
  height: 45px;
}

.search form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

/* Placeholder auto-hides when focused, auto-shows when blured */
.search form .inner-form .input-field input:focus::placeholder {
  color: transparent;
}

.search form .inner-form .params {
  height: 30px;
}

.search form .inner-form .params input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  /*padding: 10px 0;*/
  font-size: 16px;
  color: #000;
  
  max-width: 5px;
}

.search form .inner-form .params input.placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .params input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .params input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}


.search form .inner-form .input-field input.placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .input-field input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .input-field input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}

.search form .inner-form .input-field input:hover, .search form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.search form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #d9f1e3;
  border-radius: 34px 0px 0px 34px;
  height: 54px !important
}

.search form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.search form .inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.search form .inner-form .input-field.first-wrap svg {
  width: 36px;
  height: 36px;
  fill: #222;
}

.search form .inner-form .input-field.second-wrap {
  min-width: 200px;
  height: 54px !important;
}

.search form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #00ad5f;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
  border-radius: 0px 34px 34px 0px;
}

.search form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #009451;
}

.search form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.search form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
}

@media screen and (max-width: 992px) {
  .search form .inner-form .input-field {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .search form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 10px;
  }
  .search form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
  }
  .search form .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
  .search form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
  }
}

/*# sourceMappingURL=Searchs_130.css.map */
